<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Products</a></li>
<!--    <li class="breadcrumb-item active" aria-current="page"><a href="#">{{product.category}}</a></li>-->
  </ol>
</nav>
<div class="product-main" *ngIf="product">
  <div class="product-image">
    <div class="image-viewer">
      <div id="zoom-lens"></div>
      <img class="magnifier-image"
           id="zoom"
           alt=""
           onmouseover="zoomIn()"
           onmouseout="zoom()"
           src="{{product.image}}">
      <div>
        <div id="zoom-result"
             class="result-image"></div>
      </div>
    </div>
  </div>

  <div class="product-info">
    <div class="product-title">
      <h3>{{product.title}}</h3>
    </div>
    <div class="line"></div>
    <div class="product-price">
      <span>{{product.price | currency}}</span>
      <button type="button"
              class="btn btn-outline-primary"
              (click)="addToCart(product)">Buy</button>
    </div>
    <div class="line"></div>
    <div class="product-desc">
      {{product.description}}
    </div>
  </div>
</div>
