$top_bar_color: #0075b0;
.breadcrumb {
  background: none;
  margin-bottom: 0;

  .active:first-letter {
    text-transform: uppercase;
  }

  a {
    color: $top_bar_color;
  }

  a:hover {
    text-decoration: none;
    color: #d60000;
  }
}

.product-main {
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  min-width: 800px;
  display: flex;

  .product-image {
    position: relative;

    .image-viewer {
      display: flex;
      position: relative;

      #zoom-lens {
        position: absolute;
        border: 2px solid #d4d4d4;
        width: 80px;
        height: 80px;
        visibility: hidden;
        cursor: zoom-in;
        box-shadow: 0 0 15px rgba(0,0,0,1);
      }

      .magnifier-image {
        width: 300px;
      }

      .result-image {
        border: 1px solid #d4d4d4;
        margin-left: 20px;
        width: 300px;
        height: 300px;
        position: absolute;
        box-shadow: 0 0 10px rgba(0,0,0,1);
      }

      #zoom-result {
        visibility: hidden;
      }
    }
  }

  .product-info {
    margin-left: 25px;
    width: 60%;
    vertical-align: top;
    float: right;

    .line {
      width: 100%;
      height: 2px;
      background: #e8e8e8;
    }

    .product-price {
      font-size: 24px;
      font-weight: bold;
      padding: 15px 0;

      .clear {
        height: 25px;
        width: 25px;
        padding: 0;
        color: #afafaf;
      }

      .clear:hover {
        color: #333333;
      }
    }

    .btn-outline-primary {
      color: $top_bar_color;
      border-color: $top_bar_color;
      margin-left: 50px;
      padding: 5px 25px;
    }

    .btn-outline-primary:hover {
      background-color: $top_bar_color;
      color: white;
    }

    .product-desc {
      font-size: 14px;
      padding: 15px 0;
      line-height: 1.5;
      text-align: justify;
    }
  }
}
