#title-cart {
  text-align: center;
  margin: 15px 0;
}

.btn-outline-secondary {
  position: absolute;
  right: 0;
  top: 0;
}

#img-empty {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  visibility: hidden;
}

.cart-item {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  border-radius: 2px;
  background-color: #EEEEEE;
  margin: auto;
  margin-bottom: 8px;

  .minus,
  .plus,
  .delete {
    height: 25px;
    width: 25px;
    padding: 0;
    color: #afafaf;
  }

  .minus:hover,
  .plus:hover,
  .delete:hover {
    color: #333333;
  }

  .input-value {
    width: 25px;
    border: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
  }
}
