<h3 id="title-cart">Cart ({{count}})</h3>
<button type="button"
        class="btn btn-outline-secondary"
        id="btn-clear"
        (click)="clearCart()">Clear</button>

<div class="cart-item" *ngFor="let product of cartList">
  <span style="width: 300px">{{product.title}} </span>
  <span>{{product.price | currency}}</span>
  <span class="product-total-price">{{product.totalPrice | currency}}</span>
  <span>
    <input class="input-value" autocomplete="off"
           type="number"
           min="1"
           max="10"
           [(ngModel)]="product.quantity" (ngModelChange)="changeQuantity(product)">
    <button type="button"
            class="btn delete" (click)="deleteCartProduct(product.id)"
            style="margin-left: 15px">
      <i class="material-icons">delete_forever</i>
    </button>
  </span>
</div>

<div class="total"
     id="total-price">
  <div class="line">
    <p>Total: {{total | currency}}</p>
  </div>
</div>
<div id="img-empty">
  <img src="../assets/img/empty-cart.png" alt="">
</div>
