<h3 id="title-cart">Cart ({{count}})</h3>
<button type="button"
        class="btn btn-outline-secondary"
        id="btn-clear"
        (click)="clearCart()">Clear</button>

<div class="cart-item" *ngFor="let product of cartList">
  <span style="width: 300px">{{product.title}} </span>
  <span>{{product.price | currency}}</span>
  <span>
    <button type="button"
            class="btn minus">
      <i class="material-icons">remove</i>
    </button>
    <input class="input-value" autocomplete="off"
           aria-valuemin="1"
           aria-valuemax="10"
           value="1">
    <button type="button"
            class="btn plus">
      <i class="material-icons">add</i>
    </button>
    <button type="button"
            class="btn delete" (click)="deleteCartProduct(product.id)"
            style="margin-left: 15px">
      <i class="material-icons">delete_forever</i>
    </button>
  </span>
</div>
<div id="img-empty">
  <img src="../assets/img/empty-cart.png" alt="">
</div>
