<div class="container">
  <h1 class="title">Products</h1>
  <div class="products">
<!--    <tr>-->
<!--      <th>Image</th>-->
<!--      <th>Title</th>-->
<!--      <th>Price</th>-->
<!--      <th>Description</th>-->
<!--    </tr>-->
    <ul class="product">
      <li class="item" *ngFor="let product of products">
        <div class="product-card">
          <div class="product-image">
            <img class="item-image" src="{{product?.image}}"
                 alt="">
          </div>
          <div class="product-info">
            <a href="#" target="_blank">
              <div class="item-title">{{product?.title}}</div>
            </a>

            <div class="item-price">{{product?.price}} $</div>
          </div>

<!--          <div class="item-description">{{product?.description}}</div>-->
        </div>
      </li>
    </ul>
  </div>
</div>
