<h1 class="title">{{title}}</h1>
<div class="products">
  <ul class="product">
    <li class="item" *ngFor="let product of products">
      <div class="product-card">
        <div class="product-image">
          <a routerLink="/products/{{product.id}}" target="_blank">
            <img class="item-image" src="{{product.image}}"
                 alt="">
          </a>
        </div>
        <div class="product-info">
          <div class="item-info">
            <a routerLink="/products/{{product.id}}" target="_blank">
              <div class="item-title">{{product.title}}</div>
            </a>
            <div class="item-desc">{{product.description}}</div>
          </div>
          <div class="item-price">{{product.price | currency}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="collectionSize"
                [(page)]="page"
                (pageChange)="onPageChanged()"
                [pageSize]="itemsPerPage"
                [boundaryLinks]="true">
</ngb-pagination>
<span class="pageSize">
  <select id="select" [(ngModel)]="selectedItem" (ngModelChange)="changeSize(selectedItem)">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
  </select>
</span>
